* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-slategray-600 {
  background-color: black;
}
